<div class="container">
  <h2 class="center">GrapeRoule</h2>
  <div class="center">
    <img src="assets/Transparent_roulette.png" alt="Couldn't load image" height="200px">
    <p class="flow-text">Wellcome to the our grapefruit based roulette!</p>
    <p class="flow-text"><span class="blue-text" style="cursor: pointer;">Download</span> our mobile or desktop app to play</p>
    <p class="flow-text">Play with people around the globe</p>
    <p class="flow-text">Bet and enjoy</p>
  </div>
  <app-downloads></app-downloads>
  <app-wheel></app-wheel>
</div>